// Headers
.board-header {
  display: flex;
  align-items: center;
  padding: var(--op-space-2x-small) var(--op-space-medium);
  gap: var(--op-space-x-small);

  box-shadow: var(--gf-box-shadow);
  height: var(--op-navbar-height);
  font-size: var(--op-font-2x-large);
}

.game-feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--op-space-small) var(--op-space-medium) var(--op-space-x-small) var(--op-space-medium);
  height: var(--op-navbar-height);

  box-shadow: var(--gf-box-shadow);
  font-size: var(--op-font-2x-large);
}

.hand-header,
.book-header,
.content-header {
  padding: var(--op-space-small) var(--op-space-medium) var(--op-space-x-small) var(--op-space-medium);
  align-content: center;

  box-shadow: var(--gf-box-shadow);
  font-size: var(--op-font-2x-large);
}

.content-header {
  padding-left: var(--op-space-small);
}

.players-decks__header {
  font-size: var(--op-font-medium);
}

// Players Section
.players-decks {
  display: flex;
  flex-direction: column;
  padding: var(--op-space-2x-large) var(--op-space-3x-large) 0 var(--op-space-3x-large);
  gap: var(--op-space-x-small);

  background-color: var(--op-color-card-white);
  overflow: auto;
}

.players-hands {
  display: flex;
  flex-direction: column;
  gap: var(--op-space-x-small);

  overflow: auto;
}

// Accordions
.accordion {
  border-radius: var(--op-radius-medium);
  border: var(--op-border-width) solid var(--op-color-border);
}

.accordion[open] {
  border: var(--op-border-width) solid var(--op-color-primary-plus-four);

  summary {
    border-bottom: var(--op-border-width) solid var(--op-color-primary-plus-four);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: var(--op-color-primary-plus-eight);
    color: var(--op-color-primary-on-plus-eight);

    .accordion__marker {
      border-radius: var(--op-radius-circle);

      box-shadow: var(--op-border-all) var(--op-color-primary-plus-three);
      background: var(--op-color-primary-plus-five);
      color: var(--op-color-primary-on-plus-five);
    }
  }
}

.accordion summary {
  padding: var(--op-space-x-small);
  gap: var(--op-space-x-large);
  border-radius: var(--op-radius-medium);
  background-color: var(--op-color-primary-plus-max);

  color: var(--op-color-primary-on-plus-max);
}

// Feed Section
.feed-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--op-space-medium);

  overflow: auto;
}

// Notifications
.notifications {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--op-space-x-small);

  overflow: auto;
}

// Messages
.message {
  padding: var(--op-space-small);
  border-radius: var(--op-radius-x-large);

  font-size: var(--op-font-x-small);
  font-weight: var(--op-font-weight-semi-bold);
}

.indented-message {
  display: flex;
  align-items: center;
  gap: var(--op-space-x-small);
  padding-left: var(--op-space-small);
}

.blue-message {
  background: var(--op-color-primary-plus-five);
  color: var(--op-color-primary-on-plus-five);

  font-size: var(--op-font-medium);
  font-weight: var(--op-font-weight-normal);
}

.yellow-message {
  background: var(--op-color-alerts-warning-plus-seven);
  color: var(--op-color-alerts-warning-on-plus-seven);

  color: var(--op-color-alerts-warning-on-plus-seven-alt);
}

.white-message {
  background: var(--op-color-primary-plus-max);
  color: var(--op-color-primary-on-plus-max);
}

// Actions
.actions {
  display: flex;
  flex-direction: column;
  padding: var(--op-space-small);
  gap: var(--op-space-small);
  border-radius: var(--op-radius-x-large);

  box-shadow: var(--gf-box-shadow);
  background: var(--op-color-primary-plus-seven);
  color: var(--op-color-primary-on-plus-seven);
}

// Inputs
.input-collection {
  display: flex;
  gap: var(--op-space-small);
}

.form-group {
  flex-grow: 1;
}

// Cards
.card-tray {
  display: flex;
  justify-content: space-between;
  padding: var(--op-space-medium);
  gap: var(--op-space-small);

  overflow: auto;
}

.card-stack {
  display: flex;
  gap: var(--op-space-small);
  overflow: auto;

  >*:not(:first-child) {
    margin-left: calc(-1 * var(--op-space-3x-large));
  }
}

.card-stack--books {
  height: 80%;
}

.playing-card {
  box-shadow: var(--gf-box-shadow);
  border-radius: var(--gf-playing-card-radius);
}