@import "@rolemodel/optics/dist/scss/optics.scss";

// TODO: If it's margin, padding, sizing, use the closest scale to that. Width and height...
// TODO: game__feed-window
// TODO: Look up semantic html -> mdn
// TODO: web.dev/patterns

.playing-cards {
  width: calc(20 * var(--op-size-unit)); // 4rem
  height: auto;
  background-color: azure;
  border: 2px solid black;
}

.accordion-playing-cards {
  // width: 10%;
  width: auto;
  height: auto;
  background-color: azure;
  border: 2px solid black;
}

.sidebar {
  z-index: 1;
  box-shadow: 15px -5px 20px -20px rgba(0, 0, 0, 0.45);
}

.game {
  display: flex;
  flex-direction: column;
}

.game__players-feed {
  display: flex;
  flex-grow: 5;
  margin-left: var(--op-space-2x-large); // 2rem
  margin-right: var(--op-space-2x-large); // 2rem
  margin-top: var(--op-space-2x-large); // 3rem
  gap: var(--op-space-2x-large);
}

.game__players {
  flex-grow: 7;
  background-color: var(--op-color-neutral-plus-seven);
  color: var(--op-color-neutral-on-plus-seven);
  display: flex;
  flex-direction: column;
  padding: var(--op-space-x-small);
}

.game__players-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.game__feed {
  flex-grow: 1;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}


.game__cards {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  background-color: var(--op-color-neutral-plus-six);
  color: var(--op-color-neutral-on-plus-six);
  border-top: 2px solid lightgray;
}

.game__cards-content {
  display: flex;
  height: 80%;
  margin-left: var(--op-space-2x-large); // 2rem
  margin-right: var(--op-space-2x-large); // 2rem
}

.game__feed-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: var(--op-space-x-small);
  background-color: var(--op-color-alerts-notice-plus-six);
  color: var(--op-color-alerts-notice-on-plus-six);
  border: 1px solid var(--op-color-alerts-notice-original);
  border-top-left-radius: var(--op-radius-large);
  border-top-right-radius: var(--op-radius-large);
}

.accordion {
  border: 1px solid var(--op-color-neutral-plus-two);
  border-radius: var(--op-radius-medium);
}


.accordion-content {
  display: flex;
  flex-direction: row;
  gap: var(--op-space-small);
  background-color: var(--op-color-alerts-info-plus-six);
  color: var(--op-color-alerts-info-on-plus-six);
  border: 1px solid var(--op-color-neutral-plus-two);
}

.accordion summary {
  display: flex;
  justify-content: space-between;
}