@import "@rolemodel/optics/dist/scss/optics.scss";

// TODO: Ask if it is better to use fr for width and height for game feed width and hand and books height
// TODO: Fix naming -> use dashes instead of nesting
:root {
  --gf--main-column-width: calc(84 * var(--op-size-unit));
  --gf--main-row-height: calc(64 * var(--op-size-unit));
  --gf--box-shadow: var(--op-border-all) var(--op-color-border);
}

.game-view {
  display: grid;
  grid-template-columns: 1fr var(--gf--main-column-width);
  grid-template-rows: 1fr var(--gf--main-row-height);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  overflow: auto;
}

.game-board {
  grid-area: 1 / 1 / 2 / 2;
  box-shadow: var(--gf--box-shadow);

  overflow: auto;
}

.game-board__header {
  box-shadow: var(--gf--box-shadow);
}

.game-board__header-content {
  display: flex;

  padding-left: var(--op-space-small);
  align-content: center;
  font-size: var(--op-font-2x-large);
  gap: var(--op-space-small);
}

.game-feed {
  grid-area: 1 / 2 / 2 / 3;

  box-shadow: var(--gf--box-shadow);
  background-color: var(--op-color-primary-plus-eight);
  color: var(--op-color-primary-on-plus-eight);
}

.game-feed__header {
  padding-right: var(--op-space-small);
}

.game-feed__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-board,
.game-feed {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;

  overflow: auto;
}

.game-feed__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  gap: 0;

  padding: var(--op-space-medium);

  overflow: auto;
}

.game-feed__section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--op-space-x-small);
  align-self: stretch;
}

.game-feed__section__actions__form__selectors {
  display: flex;
  align-items: flex-start;
  gap: var(--op-space-medium);
}

.game-feed__section__actions__form {
  display: flex;
  padding: var(--op-space-small);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--op-space-small);
  align-self: stretch;

  border-radius: var(--op-radius-x-large);
  box-shadow: var(--gf--box-shadow);
  background: var(--op-color-primary-plus-seven);
}

.player-hand {
  grid-area: 2 / 1 / 3 / 2;
  box-shadow: var(--gf--box-shadow);
}

.player-books {
  grid-area: 2 / 2 / 3 / 3;
  box-shadow: var(--gf--box-shadow);
}

.player-hand,
.player-books {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;

  background-color: var(--op-color-neutral-plus-seven);
  color: var(--op-color-neutral-on-plus-seven);
}

// TODO: Dont do this. Use individual .header1, .header2
.game-feed__header,
.hand-header,
.book-header {
  box-shadow: var(--gf--box-shadow);
  padding-left: var(--op-space-small);
  align-content: center;
  font-size: var(--op-font-2x-large);
}

.content-header {
  box-shadow: var(--gf--box-shadow);
  padding-left: var(--op-space-small);
  align-content: center;
  font-size: var(--op-font-2x-large);
}


.card-stack {
  display: flex;
  gap: var(--op-space-small);
  padding: var(--op-space-medium)
}

.playing-card {
  box-shadow: var(--gf--box-shadow);
  height: 60%;
  width: auto;
}