@import "@rolemodel/optics/dist/scss/optics.scss";

// TODO: Fix naming of classes

:root {
  --gf--main-column-width: calc(84 * var(--op-size-unit));
  --gf--main-row-height: calc(64 * var(--op-size-unit));
  --gf--box-shadow: var(--op-border-all) var(--op-color-border);
  --gf--header-size: calc(15 * var(--op-size-unit)); // 60px
}

.game-view {
  display: grid;
  grid-template-columns: 1fr var(--gf--main-column-width);
  grid-template-rows: 1fr var(--gf--main-row-height);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  overflow: auto;
}

.game-board {
  grid-area: 1 / 1 / 2 / 2;
  box-shadow: var(--gf--box-shadow);

  overflow: auto;
}

.game-board__header {
  box-shadow: var(--gf--box-shadow);
  align-content: center;
}

.game-board__header-content {
  display: flex;

  padding-left: var(--op-space-small);
  align-content: center;
  font-size: var(--op-font-2x-large);
  gap: var(--op-space-small);
}

.game-board__player-decks__header {
  font-size: var(--op-font-medium);
}

.game-board__player-decks__player-hands {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: var(--op-space-x-small);
}

.game__players-info-hands {
  box-shadow: var(--op-border-all) var(--op-color-border);
  border-radius: var(--op-radius-medium);
}

.accordion {
  border-radius: var(--op-radius-medium);
  border: var(--op-border-width) solid var(--op-color-border);
}

.accordion[open] {
  border: var(--op-border-width) solid var(--op-color-primary-plus-four);

  summary {
    border-bottom: var(--op-border-width) solid var(--op-color-primary-plus-four);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--op-color-primary-plus-eight);
    color: var(--op-color-primary-on-plus-eight);

    .accordion__marker {
      border-radius: var(--op-radius-circle);
      box-shadow: var(--op-border-all) var(--op-color-primary-plus-three);
      background: var(--op-color-primary-plus-five);
      color: var(--op-color-primary-on-plus-five);
    }
  }
}

.accordion summary {
  padding: var(--op-space-x-small);
  gap: var(--op-space-x-large);
  border-radius: var(--op-radius-medium);

  background-color: var(--op-color-primary-plus-max);
  color: var(--op-color-primary-on-plus-max);
}


// .accordion-content {
//   display: flex;
//   align-items: flex-start;
//   gap: var(--op-space-x-large);
// }


.game-board__player-decks {
  display: flex;
  padding: var(--op-space-2x-large) var(--op-space-3x-large) 0 var(--op-space-3x-large);
  flex-direction: column;
  gap: var(--op-space-x-small);
  align-self: stretch;
  overflow: auto;

  background-color: var(--op-color-card-white);
}

.game-feed {
  grid-area: 1 / 2 / 2 / 3;

  box-shadow: var(--gf--box-shadow);
  background-color: var(--op-color-primary-plus-eight);
  color: var(--op-color-primary-on-plus-eight);
}

.game-feed__header {
  padding-right: var(--op-space-small);
}

.game-feed__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-board,
.game-feed {
  display: grid;
  grid-template-rows: var(--gf--header-size) 1fr;

  overflow: auto;
}

.game-feed__section {
  display: grid;
  grid-template-rows: 1fr auto;

  padding: var(--op-space-medium);

  overflow: auto;
}

.game-feed__section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--op-space-x-small);
  overflow: auto;
}

.game-feed__section__content__message {
  padding: var(--op-space-small);
  flex-wrap: wrap;
  border-radius: var(--op-radius-x-large);
}

.indented-message {
  display: flex;
  gap: gap-xs;
  padding-left: var(--op-space-small);

}

.blue-message {
  background: var(--op-color-primary-plus-five);
  color: var(--op-color-primary-on-plus-five);
}

.yellow-message {
  background: var(--op-color-alerts-warning-plus-seven);
  color: var(--op-color-alerts-warning-on-plus-seven);
}

.white-message {
  background: var(--op-color-primary-plus-max);
  color: var(--op-color-primary-on-plus-max);
}

.game-feed__section__actions__form__selectors {
  display: flex;
  align-items: flex-start;
  gap: var(--op-space-medium);
}

.game-feed__section__actions__form {
  display: flex;
  padding: var(--op-space-small);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--op-space-small);
  align-self: stretch;

  border-radius: var(--op-radius-x-large);
  box-shadow: var(--gf--box-shadow);
  background: var(--op-color-primary-plus-seven);
  color: var(--op-color-primary-on-plus-seven);
}

.player-hand {
  grid-area: 2 / 1 / 3 / 2;
  box-shadow: var(--gf--box-shadow);
  overflow: auto;
}

.player-books {
  grid-area: 2 / 2 / 3 / 3;
  box-shadow: var(--gf--box-shadow);
}

.player-hand,
.player-books {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;

  background-color: var(--op-color-neutral-plus-seven);
  color: var(--op-color-neutral-on-plus-seven);
}

.game-feed__header,
.hand-header,
.book-header {
  box-shadow: var(--gf--box-shadow);
  padding-left: var(--op-space-small);
  align-content: center;
  font-size: var(--op-font-2x-large);
}

.content-header {
  box-shadow: var(--gf--box-shadow);
  padding-left: var(--op-space-small);
  align-content: center;
  font-size: var(--op-font-2x-large);
}

.card-tray {
  display: flex;
  justify-content: space-between;
  padding: var(--op-space-medium);

  overflow: auto;
}

.card-stack {
  display: flex;
  gap: var(--op-space-small);

  overflow: auto;

  >*:not(:first-child) {
    margin-left: calc(-1 * var(--op-space-3x-large));
  }
}

.playing-card {
  box-shadow: var(--gf--box-shadow);
}